@import "../libs/bootstrap/scss/bootstrap";

@import"otros/variables";
@import"otros/salas.scss";
@import"otros/menu.scss";
@import"otros/formularios.scss";

//index//
.header {
    background-color: $fondo-header;
    padding: 4px;

    .logo {
        width: $logo;
        height: $logo;
        float: left;

    }

    h1 {
        font-size: 35px;
        font-family: $tipografia;
        color: white;
    }
}

//Aside//
.barra {
    background-color: $text-footer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     h2 {
         color: $color-info;
     }
}
// Desaparece aside //
@media (max-width: 991px) {
    .barra2 {
        display: none;
    }
}


// cuerpo de la pagina //
hr{
    background-color: $color-linea;
}
 //Titulo de Destacados//
.container-flui a{
    text-decoration: none;
    color: $color-texto-fondo;
}

.container-flui a:hover{
    
    background-color: $color-texto-fondo;
    color:$color-info;
    border-radius: 5px;
}

#cont1{
    height:100vh;

    width: 100%;
   background-image: url(../img/fondo.jpg);
  background-position: center center ;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 }


#cont1::before{
 content:'' ;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.76);
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;

}

 #cont2 h2{

    font-size:90px;
     font-family:$tipografia;
    text-align: justify;
    margin-top: 0;
    padding-top: 3%;
    color: $color-info;
    position: relative;
 }

 // cambio de estilos en  los breackpoints definidos 


 @include media-breakpoint-up(sm) { 
     
   
     #cont2 h2{
    
        font-size:100px;
     }  
 }
 @include media-breakpoint-up(md) { 
     
    #cont2{
        width: 100%;
    }
     #cont2 h2{
    
        font-size:150px;
     }  
 }
 




.footer {
    background-color: $color-footer;
    padding: 10px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    text-align: center;
    list-style: none;

    #facebook{

        .icon {
            width: $icon;
            height: $icon;
        }
    
        h1 {
            color: $text-footer;
            font-size: 20px;
            
        }

    }


    #instagram{

        .icon {
            width: $icon;
            height: $icon;
            
        }
    
        h1 {
            color: $text-footer;
            font-size: 20px;
           
        }

    } 
    

    #llamada{

        .icon {
            width: $icon;
            height: $icon;
        }
    
        h1 {
            color: $text-footer;
            font-size: 20px;
            text-decoration: none;
        }

    }

    #ubi{

        .icon {
            width: $icon;
            height: $icon;
        }
    
        h1 {
            color: $text-footer;
            font-size: 20px;
           
            
        }

    }
}

#bot-destacados{
    float: right;
    
}

