$letra-grande:3.8em;
$color-texto-fondo: rgb(0, 0, 0);
$tipografia: 'lato', arial,;
$color-info:  rgb(255, 255, 255);
$color-linea: rgba(217, 206, 22, 1);



$fondo-header: rgba(32, 50, 57, 1);
$logo: 45px;

//color menu//
$fondo-menu: rgba(32, 50, 57, 0.85);

$color-footer: rgba(229, 229, 229, 1);
$icon: 30px;
$text-footer: rgba(143, 143, 146, 1);


//Botones Formulario//
$boton-alto:30px;
$boton-ancho:150px;
$fondo-form: rgba(196, 196, 196, 0.22);